# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Backend API Base URL (ubah ke Railway URL saat production)
NEXT_PUBLIC_BACKEND_URL="http://localhost:5000"

# WhatsApp default template (opsional)
NEXT_PUBLIC_WA_DEFAULT_MESSAGE="Halo, saya ingin bertanya tentang produk di Kutoharjo UMKM Hub"
