# Server Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET=korowelang_kulon_super_secret_jwt_key_2026
FRONTEND_URL=http://localhost:3000

# -------------------------------------------------------------
# DATABASE CONFIGURATION (Dukungan Otomatis Local & Cloud)
# -------------------------------------------------------------
# Opsi 1: PostgreSQL Lokal (di komputer sendiri via pg / node-postgres)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/umkm_korowelang

# Opsi 2: Neon Cloud PostgreSQL Serverless
# DATABASE_URL=postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

